* {
  --primary: #0F1236;
  --primary-light: #1F2555;
  --flame: #EF2F22;
  --flame-light: #F46D33;
  --flame-lighter: #F6E5E1;
  --flame-lightest: #FFF8F7;
  --graphite: #222222;
  --graphite-light: #393939;
  --light: #F2F2F2;
  --gray: #ECECEC;
  --cyan: #00BFFF;
}