@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;515&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

* {
    font-family: Roboto, 'ZillaSlab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

code, code span {
  font-family: 'Fira Code', monospace;
}